{
  "development": {
    "username": "{{ mysql_user }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_fqdn }}",
    "dialect": "mysql",
    "port": 3306
  },
  "test": {
    "username": "{{ mysql_user }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_fqdn }}",
    "dialect": "mysql",
    "port": 3306
  },
  "production": {
    "username": "{{ mysql_user }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_fqdn }}",
    "dialect": "mysql",
    "port": 3306
  }
}